page-startquiz {
	h1{
		text-align: center;
		margin-top: 30% !important;
		margin-bottom: auto;
	}
	h2{
		text-align: center;
		margin: 15px;
	}
	button{
		margin-left: auto !important;
		margin-right: auto !important;
		display: table !important;
	}
}
