page-bbcnews {
 .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
	    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }
	.date_newstyle{
		text-align:right;
	}
	ion-slides{
		height:auto !important;
	}
	
	.button-outline-md{
		background:#00008b;
		color:white;
		font-weight:900;
		border-radius:18px;
	}
	
	.button-outline-md:hover:not(.disable-hover) {
		background:#00008b;
		color:white;
		font-weight:900;
		border-radius:18px;
	}
	
}
