<!--
  Generated template for the GoldeneraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Other</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item text-wrap *ngFor="let p of rssOther" (click)="openLink(p.link)" lines="full">
  <ion-label>
    {{p.title}}
  </ion-label>
  <ion-label class="date_style">
    {{p.date_created}}
  </ion-label>
</ion-item>

<ion-col *ngIf="rssOther.length==0 && loadingServerData " col-12 class="animated fadeIn">
			<h6 text-center>No Posts Found!</h6>
</ion-col>

</ion-content>
